body {
    background: url(assets/imgs/wa/bkgd.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}

/*
 * Loader Styling
 */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #cc1c28;
    background-color: #1c2533;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    -webkit-box-shadow: 0 0 59px 14px rgba(255, 0, 71, 0.68);
    -moz-box-shadow: 0 0 59px 14px rgba(255, 0, 71, 0.68);
    box-shadow: 0 0 59px 14px rgba(255, 0, 71, 0.68);
}
.blur {
    width: 117px;
    height: 117px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 59px -1px rgba(255, 0, 71, 0.68);
    -moz-box-shadow: 0 0 59px -1px rgba(255, 0, 71, 0.68);
    box-shadow: 0 0 59px -1px rgba(255, 0, 71, 0.68);
}
.loader-background {
    background-color: #1c2533;
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

/*
 * Styling for Portrait Mode
 */
.landscape {
    visibility: hidden;
    position: absolute;
    text-align: center;
    font-size: 3vmax;
    font-family: "Exo", Helvetica, sans-serif;
}

/*
 * Heading Styling
 */
.page-header {
    margin: 0 0 2% 0;
    border: none;
    background: radial-gradient(black 12%, transparent 9%) 0 0,
        radial-gradient(black 12%, transparent 0%) 8px 8px,
        radial-gradient(rgba(240, 0, 50, 0.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(240, 0, 50, 0.1) 15%, transparent 20%) 8px 9px;
    background-color: #330b0b;
    background-size: 15px 15px;
}
.logo {
    margin: 0 auto;
    width: 20%;
}
.logo img {
    width: 100%;
    margin: 3% 0 0 0;
}
.about-link {
    font-family: "Exo", Helvetica, sans-serif;
    font-size: 2.5vmin;
    text-transform: uppercase;
    padding: 1%;
    background-color: #fff;
    position: fixed;
    top: 7.25%;
    left: 0;
    transform: translate(0, -50%);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.about-link a,
.audio-symbols {
    color: #1f1812;
}
.about-link a:hover {
    text-decoration: none;
    color: #cd0000;
    cursor: pointer;
}
.audio-symbols {
    position: absolute;
    right: 1%;
    top: 3%;
    color: #fff;
    width: 7em;
    cursor: pointer;
}
.audio-color {
    color: #cd0000;
}
.music-off {
    margin-right: 18%;
    padding-right: 4%;
}

/*
 * Main Gaming Area Styling
 */
.main-container {
    height: 100%;
}
#game-area {
    height: 100%;
}
.card {
    height: 25vh;
    position: relative;
}
.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
}
.back {
    z-index: 1;
}
.thumbnail {
    padding: 0;
}
.flipped {
    display: none;
}
.card img {
    width: 15vh;
    height: 20vh;
    border-radius: 4px;
}

/*
 * Stats Area Styling
 */
.stats-container {
    text-align: center;
    padding-left: 0;
}
.panel {
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom-left-radius: 0;
}
.panel-title,
.value {
    font-size: 2.5vmin;
}
.panel-body {
    padding: 0;
}
.panel-heading {
    border-top-left-radius: 0;
}
.panel-heading,
button,
.btn {
    font-family: "Exo", Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: #393a48;
    border: none;
    color: #fff;
    vertical-align: baseline;
    font-size: 2.5vmin;
}
.reset {
    margin-bottom: 5%;
}
.value {
    font-family: "Sorts Mill Goudy", Georgia, serif;
    color: #fff;
}

/*
 * Button and Modal Styling
 */
.btn:hover {
    background-color: #c90000;
}
.btn:active,
.btn:focus,
.btn-info:active,
.btn-info:active:focus {
    background-color: #810e0e;
}
.modal-header > h4 {
    font-size: 1.5em;
}
.modal-content {
    color: #fff;
    font-family: "Sorts Mill Goudy", Georgia, serif;
    background-color: rgba(57, 58, 72, 0.8);
    line-height: 2em;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    border-radius: 0;
}
.modal-footer {
    height: 10vh;
    padding: 1%;
}
.loss-img {
    height: 60vh;
}

/*
 * Health and Stamina Bars
 */
.health-stats {
    position: fixed;
    bottom: 0;
    left: 0;
}
.health-stats.col-xs-12 {
    padding: 0;
}
.progress-bar.progress-bar-danger {
    width: 100%;
    background-color: #cd0000;
}
.progress-bar.progress-bar-warning {
    width: 100%;
}
.progress {
    height: 2vh;
    margin: 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.progress:last-child {
    height: 1vh;
    -webkit-box-shadow: 0 50px 100px 100px rgba(255, 0, 71, 0.31);
    -moz-box-shadow: 0 50px 100px 100px rgba(255, 0, 71, 0.31);
    box-shadow: 0 50px 100px 100px rgba(255, 0, 71, 0.31);
}

/*
 * About Page Styling
 */
.img-container {
    width: 40%;
    float: left;
}
.author-pic {
    width: 100%;
    border-radius: 4px;
}
.contact-links {
    text-align: center;
}
.contact-links i {
    margin: 10%;
}
.contact-links a {
    color: #cc1c28;
}
.contact-links a:hover {
    color: #fff;
}
.about {
    font-family: "Sorts Mill Goudy", Georgia, serif;
    font-size: 120%;
    color: #ffffff;
    text-shadow: 5px 5px 10px #000;
    line-height: 2em;
}
.intro {
    font-family: "Exo", Helvetica, sans-serif;
    font-size: 2em;
    font-style: italic;
}
.about-me {
    width: 60%;
    background-color: rgba(255, 0, 71, 0.31);
    padding: 5%;
    float: left;
    letter-spacing: 0.15em;
}
.skills {
    font-family: "Exo", Helvetica, sans-serif;
    font-size: 0.7em;
    line-height: 1em;
    margin-top: 1.5%;
}

/*
 * Media Queries
 */
@media (orientation: portrait) {
    .landscape {
        visibility: visible;
        color: #fff;
        width: 100vw;
        top: 45%;
    }
    .main-container {
        visibility: hidden;
    }
    .about-link {
        visibility: hidden;
    }
}

@media (max-width: 767px) {
    .links {
        top: 15%;
        left: -10%;
    }
    .img-container {
        width: 100%;
    }
    .about-me {
        width: 100%;
    }
}

@media (min-height: 320px) {
    .modal-footer {
        height: 8vh;
    }
}

@media (min-height: 767px) {
    .modal-content {
        font-size: 1.3em;
    }
    .modal-footer {
        height: 7vh;
    }
}
