
.links {
    list-style-type: none;
    font-family: 'Exo', Helvetica, sans-serif;
    font-size: 1.2em;
    width: 18%;
    position: absolute;
    top: 45%;
    left: -10%;
    transform: translate(50%);
}
.links > li {
    display: inline-block;
}
.links a {
    color: white;
}
a:hover {
    text-decoration: none;
    color: #1e2151;
}
.page-header {
    margin-top: 0;
    background-color: #810e0e;
    position: relative;
}
.logo {
    margin: 0 auto;
    width: 30%;
}
.logo img {
    width: 100%;
}
.main-container{
    background-image: url('imgs/wa/w3_wp04.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    height: 100vh;
}
.panel {
    border: none;
    background-color: rgba(255,255,255,0.4);
}
.panel-body {
    #background-color: rgba(255,255,255,0.4);
}
.panel-heading, button, .btn {
    font-family: 'Exo', Helvetica, serif;
    background-color: #393A48;
    border: none;
    color: white;
}
.value {
    font-family: 'Sort Mills Goudy', Georgia, serif;
    font-size: 1.3em;
    color: white;
    text-align: center;
}
.btn:hover {
    background-color: #c90000;
}
.btn:active, .btn:focus, .btn-info:active,
.btn-info:active:focus {
    background-color: #810e0e;
}
.card {
    height: 25vh;
    position: relative;
}
.front, .back {
    position: absolute;
    top:0;
    left:0;
}
.back {
    z-index:1;
}
.flipped {
    display: none;
}
.card img {
    width: 15vh;
    height: 20vh;
}
.img-container {
    width: 30%;
    float: left;
}
.author-pic {
    width: 100%;
}

@media (max-width: 750px){
    .links {
        top: 15%;
        left: -10%;
    }
}
